%clearfix {
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    &:after {
        clear: both;
    }
}

$green: #99CC00;
$red: #FF3333;

@import 'icons';


.logo {
    display: inline-block;
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    vertical-align: middle;
    z-index: 2;

    span {
        font-size: 1em;
        color: #fff;
        position: absolute;
        display: inline-block;
        left: 0;
        top: 0;
        width: (50/30)+em;
        line-height: (50/30)+em;
        text-align: center;
        //-webkit-font-smoothing: subpixel-antialiased;

        &:after {
            content: "DIFF";
            font-size: 0.6em;
            color: #000;
            position: absolute;
            display: inline-block;
            left: (83/30)+em;
            line-height: (50/18)+em;
            top: 0;
            font-weight: bold;
            -webkit-transition: all 0.3s ease-in-out 0.8s;
            opacity: 0;
            -webkit-transform: translate(-40px,0);
            z-index: -2;
        }
    }

    &:before, &:after{
        content: "";
        display: inline-block;
        width: (46/30)+em;
        height: (50/30)+em;
        background: rgba(0, 127, 255,0.7);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        -webkit-transition: all 0.5s ease-in-out;
        border: 1px solid rgba(255,255,255,0.1);
        z-index: -1;
    }

    &:before {
        margin-top: -(4/50)+em;
        -webkit-transform: translate(-100px,0);
    }
    &:after {
        margin-top: (4/50)+em;
        -webkit-transform: translate(100px,0);
    }

    &.in {
        &:before {
            opacity: 1;
            -webkit-transform: translate(0,0) skew(10deg) rotate3d(-1,1,0, 180deg);
        }
        &:after {
            opacity: 1;
            -webkit-transform: translate(0,0) skew(-10deg) rotate3d(1,-1,0, 180deg);
        }
        span:after {
            opacity: 1;
            -webkit-transform: translate(0,0);
        }
    }
}


html {
    height: 100%;
}
body {
    padding: 20px 0;
    min-width: 728px;
    position: relative;
    height: 100%;

    > .container {
        width: auto;
        max-width: none;

        .panel {
            position: absolute;
            top: 20px;
            right: 20px;
            bottom: 20px;
            -webkit-transition: left 0.30s ease-in-out;

            .panel-body {
                position: absolute;
                top: 50px;
                left: 0;
                bottom: 0;
                right: 0;
                overflow: auto;
            }

            .panel-heading .variants {
                .badge {
                    @for $i from 0 through 10 {
                        &[data-level="#{$i*10}"] { background-color: mix($green,$red,$i*10%) }
                    }
                }
            }
        }
    }

    aside + .container .panel {
        left: 269px;
    }

    aside.closed + .container .panel {
        left: 76px;
    }
}

aside {
    position: absolute;
    left: 20px;
    top: 20px;
    bottom: 20px;
    width: 250px;
    -webkit-transition: width 0.30s ease-in-out;
    overflow: hidden;

    .panel-body,
    .panel-footer {
        width: 250px;
    }

    footer.panel-footer {
        position: absolute;
        bottom: 62px;
        left: 0;
    }

    div.panel-footer {
        position: absolute;
        bottom: 0;
        left: 0;

        a {
            padding: 10px 15px;
            display: block;
            &:hover {
                background: #E6E6E6;
                text-decoration: none;
            }
            &.active {
                color: #FFF;
                background-color: #007FFF;
            }
        }
    }

    .panel-body {
        position: absolute;
        top: 125px;
        bottom: 110px;
        left: 0;
        right: 0;
        overflow: auto;
    }

    .logo-wrapper {
        height: 75px;
        background: #fff;
        text-align: left;
        padding-left: 20px;
        border-bottom: 1px solid #DDD;

        .btn {
            margin: 23px 15px;
        }
    }

    .panel-heading {
        position: relative;
        min-height: 50px;
        .btn {
            position: absolute;
            top: 10px;
            right: 15px;
        }
    }

    .tasks .collapse {
        padding-left: 20px;

        &:before {
            border-left: 1px solid #ddd;
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 9px;
            display: block;
        }

        &.in {
            border-top: 1px solid #ddd;
            position: relative;
        }

        li:before {
            content: "\f0da";
            font-family: 'icons';
            color: #DDD;
            position: absolute;
            top: 50%;
            left: -11px;
            border-top: 1px solid #DDD;
            width: 11px;
            text-align: right;
            line-height: 0;
        }

        li:last-child:after {
            border-left: 1px solid #fff;
            content: '';
            position: absolute;
            top: 50%;
            bottom: 0;
            left: -11px;
            display: block;
        }
    }

    &.closed {
        width: 57px;
        border-bottom: 0;
        bottom: auto;

        .logo-wrapper {
            padding-left: 6px;

            .logo {
                font-size: 28px;

                span:after {
                    display: none;
                }
            }

            .btn {
                display: none;
            }
        }

        .panel-heading {
            h3 {
                display: none;
            }

            .btn i:before {
                content: "\f0da";
            }
        }
        .panel-body,
        .panel-footer {
            display: none;
        }
    }

    .nav li a {
        @for $i from 0 through 10 {
            &.level-#{$i*10} .badge { background: mix($green,$red,$i*10%) }
        }

        .badge {
            color: #fff!important;
        }
    }
}

.panel .panel-heading h3 {
    line-height: 29px;
}

.total-progress {
    @extend %clearfix;

    .progress {
        float: left;
        width: (100%/3);

        > span {
            -webkit-transition: background 0.15s ease-in-out;
        }

        .progress-bar {
            background-color: #222;
        }

        &.done {
            overflow: visible;

            > span {
                background: #222;
                cursor: pointer;

                &:hover {
                    -webkit-transition: none;
                    background: #0E0E0E;
                }
            }
            .progress-bar {
                width: 100%!important;
                background: none;
                -webkit-transition: none!important;
                transition: none!important;
            }

            &.chosen > span {
                background: #007FFF;
            }
        }
    }
}

.progress {
    height: 22px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;

    > span {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        line-height: 22px;
        text-align: center;
    }
}

#coverage {
    .progress-bar {
        @for $i from 0 through 10 {
            &[data-level="#{$i*10}"] { background-color: mix($green,$red,$i*10%) }
        }
    }
}

.images {
    @extend %clearfix;
    position: absolute;
    top: 50px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    overflow: auto;

    > div {
        float: left;
        width: 100%;
        text-align: center;

        img {
            -webkit-transition: opacity 0.15s ease-in-out;
            max-width: 100%;
            opacity: 1;

            &.hidden {
                opacity: 0;
            }
        }

        .actions {
            position: fixed;
            top: 140px;
            right: 80px;
        }

        img.hidden + .actions {
            display: none;
        }
    }
}

tr td [class^="level"] {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #DDD;
    @for $i from 0 through 10 {
        &.level-#{$i*10}{ background-color: mix($green,$red,$i*10%) }
    }
}

tr td.danger {
    background-color: $red!important;
    color: #fff;
}

.table small {
    color: #888;
}

.failure-info {
    display: none;
}

#tasks.failure {
    .total-progress,
    .images,
    .variants {
        display: none;
    }

    .failure-info {
        display: block;
    }
}


.key {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 40px;
    line-height: 34px;
    background: #f9f9f9;
    font-size: 14px;
    font-family: monospace;
    padding: 0 14px 4px;
    box-shadow: inset 0px -3px 2px 1px rgba(0, 0, 0, 0.5);
    vertical-align: middle;
    font-weight: bold;
}
