<div class="card-panel blue lighten-1 white-text row">
    <div class="col s6">
        <a href="#" class="btn grey lighten-2 grey-text text-darken-3">
            <i class="material-icons">launch</i> beta
        </a>
        <a href="#" class="btn grey lighten-2 grey-text text-darken-3">
            <i class="material-icons">launch</i> prod
        </a>
    </div>
    <div class="col s3 difference">
        <i class="material-icons">compare</i> 25% difference
    </div>
    <div class="col s3">
        <a href="#" class="btn btn-block white grey-text text-darken-4 disabled">
            <i class="material-icons">refresh</i> Rerun
        </a>
    </div>
</div>
