<div class="card-panel row blue lighten-1">
    <div class="viewports">
        <ul class="tabs">
            <% _.each(model.getViewports(), function(viewport) { %>
            <li class="tab col s2">
                <a href="#test1" data-toggle="viewport--<%= viewport.name %>">
                    <i class="material-icons">phone_iphone</i>
                    <%= viewport.name %>
                </a>
            </li>
            <% }) %>
        </ul>
    </div>

    <div class="environments">
        <ul class="tabs">
            <% _.each(model.getEnvironments(), function(environment) { %>
            <li class="tab col s2"><a href="#test1" data-toggle="environment--<%= environment %>"><%= environment %></a></li>
            <% }) %>
        </ul>
    </div>
</div>
